<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asylum.membatik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Membatik">
        <activity
            android:name=".DetailProduk"
            android:exported="true" />
        <activity
            android:name=".modules.products.AllProductActivity"
            android:exported="true" />
        <activity
            android:name=".modules.account.AccountActivity"
            android:exported="true" />
        <activity
            android:name=".CustomBatikActivity"
            android:exported="true" />
        <activity
            android:name=".CourseDetailActivity"
            android:exported="true" />
        <activity
            android:name=".dashboard.CourseActivity"
            android:exported="true" />
        <activity
            android:name=".dashboard.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".modules.register.DaftarActivity"
            android:exported="true" />
        <activity
            android:name=".modules.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>